/* You can add global styles to this file, and also import other style files */
/* memory game */

@font-face {
    font-family: FromCartoonBlocks;
    src: url(assets/From_Cartoon_Blocks.ttf);
}

/* UNIVERSAL STYLES */
@import url(http://weloveiconfonts.com/api/?family=brandico);
/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}



h1 {
  font-family: 'FromCartoonBlocks';
  font-size:6rem;
  color:deeppink;
  text-shadow:1px 1px black;
  text-align: center;
  margin:0;
}

.wrap {
  position: relative;
  height: 100%;
  min-height: 500px;
  padding-bottom: 20px;
}

.game {
  transform-style: preserve-3d;
  perspective: 500px;
  min-height: 100%;
  height: 100%;
}

@keyframes matchAnim {
  0% {
    background: #bcffcc;
  }
  100% {
    background: white;
  }
}
.card {
  float: left;
  width: 16.66666%;
  height: 20%;
  padding: 5px;
  text-align: center;
  display: block;
  perspective: 500px;
  position: relative;
  cursor: pointer;
  z-index: 50;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 800px) {
  .card {
    width: 25%;
    height: 16.666%;
  }
}
.card .inside {
  width: 100%;
  height: 100%;
  display: block;
  transform-style: preserve-3d;
  transition: .4s ease-in-out;
  background: beige;
  box-shadow: 5px 2px 6px -3px #444;
  border-radius:14px; 
}

.card .inside.picked, .card .inside.matched {
  transform: rotateY(180deg);
  box-shadow: 5px 2px 6px -3px #666 inset;
  
}
.card .inside.matched {
  animation: 1s matchAnim ease-in-out;
  animation-delay: .4s;
}
.card .front, .card .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.card .front img, .card .back img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 100%;
}
.card .front {
  transform: rotateY(-180deg);
}
@media (max-width: 800px) {
  .card .front {
    padding: 5px;
  }
}
@media (max-width: 800px) {
  .card .back {
    padding: 10px;
  }
}
#forkme {
  position:fixed;
  top:0;
  right:0;
  z-index: 10;
}